*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(206, 244, 150, 0.74);
    width: 100%;
    height: 100vh;
    font-family: 'Poppins','sens-serif';
}

.title{
    font-size: 52px;
    font-weight: 700;
    color: green;
    text-align: center;
    margin-top: 20px;
}

.title span{
    color:rgba(97, 72, 28, 1);
}

.container{
    background-color: rgba(251, 251, 251, 1);
    width: 660px;
    height:max-content;
    margin-inline: auto;
    margin-top: 25px;
    border-radius: 15px;
    padding: 10px 40px;
    padding-bottom: 60px;
}
.sub-title img{
    width: 35px;
    vertical-align: middle;
    margin-left: 8px;
}
.comment{
    font-size: 13px;
    font-weight: 400;
    color: rgba(133, 133, 133, 1);
    padding-top: 24px;
    line-height: 21px;
}

.bar{
    width: 95%;
    height: 20px;
    background: rgba(72, 163, 0, 0.1);
    border-radius: 15px;
    margin-top: 10px;
}
.error{
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 24px;
    color: rgba(255, 81, 81, 1);
}
.inform{
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 24px;
    color:rgba(72, 163, 0, 1);
}
.score-bar{
    width: 65%;
    height: 100%;
    background-color:rgba(72, 163, 0, 1) ;
    border-radius: 15px;
}

.level{
    color: white;
    font-size: 10px;
    padding: 3px 16px;
}

.input-box{
    width: 95%;
    height:70px;
    border-radius: 15px;
    border: 1px solid rgb(221, 217, 217);
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    margin-top: 20px;
    background-color: white;
}
.check-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(201, 200, 200, 0.882);
    margin-left: 18px;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Completed{
    border-color: rgba(72, 163, 0, 1);
    background-color:rgba(72, 163, 0, 1) ;
}
.check-icon{
    width: 11px;
    display: none;
}

.Completed .check-icon{
    display: block;
}
.input{
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
}
.add-feature{
    color: rgba(72, 163, 0, 1);
    text-decoration-line: line-through;

}
.input::placeholder{
    font-weight: 400;
    color: rgba(217, 217, 217, 1);

}
.quote{
    text-align: center;
    margin-top: 45px;
}
.credit{
    text-align: center;
    margin-top: 55px;
    color: rgba(133, 133, 133, 1);
    font-size: 12px;
}

@media (max-width:400px) {
    .title{
        font-size: 33px;
        width: 100%;
        text-align: center;
    }
    .container{
        width: 85%;
        margin-left: 25px;
    }
    .input-box{
        height: 55px;
        width: 100%;
    }
    
}